apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - route.yaml

patches:
  - path: patch-url.yaml

# Image tag set by Makefile
images:
  - name: ghcr.io/jsell-rh/kartograph
    newTag: PLACEHOLDER

# Namespace set by Makefile
namespace: PLACEHOLDER
